li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;

  border-width: 1px;
  border-style: solid;
  border-color: var(--stroke-color);
  border-radius: 8px;
  background-color: var(--surface-color);

  text-decoration: none;
  font-weight: bold;
}

li a :hover {
  background-color: var(--surface-color-hover);
  border-color: var(--text-color);
}
