#Switch {
  position: relative;
  width: 64px;
  margin: 4px auto;

  & button {
    width: 32px;
    height: 32px;
  }
}
 






































































































































































































































