.movie{
    inline-size:310px;
   block-size: 460px;
    margin: 1.5rem;
    position: relative;
    overflow: hidden;
    border: none;
    box-shadow: 0px 13px 10px -7px var(--shadow-color);
    border-radius: 10px;

    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    /*Moficando primeiro elemento do div (imagem, ano)*/

    & div:nth-of-type(1) {
    position: absolute;
    z-index: 3;
    width: 100%;
    top: 0;
    color: var(--text-secondary);
    font-weight: bold;
    text-align: center;
    transition: opacity 0.3s ease;
    opacity: 0;
    padding: 16px;
}

    /*Moficando segundo elemento do div*/
& div:nth-of-type(2) {
    height: 100%;
    width: 100%;

    & img {
        height: 100%;
        width: 100%;
    }
}


    /*Passar o mouse por cima do bloco zero*/
    &:hover{
        box-shadow: 0 30px 18px -8px rgba(0, 0, 0, 0.4);
        transform: scale(1.05);


        & div:nth-of-type(1) {
            opacity: 1;
        }

        & div:nth-of-type(2) {
            opacity: 0.3;
        }

        & div:nth-of-type(3) {
background-color: transparent;
        }
    }
}