:root {
  /* :root -> variáveis de css no tema original projetado */
  --font-raleway: "Raleway", sans-serif;

  /* Light theme (padrão) */
  --bg-primary: #f5f5f5;
  --bg-secondary: #fff;
  --text-primary: #333;
  --text-secondary: #666;
  --text-placeholder: #a1a1a1;
  --accent-color: #ff6b6b;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --shadow: 0px 2px 8px var(--shadow-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark theme */
    --bg-primary: #212426;
    --bg-secondary: #343739;
    --text-primary: #f5f5f5;
    --text-secondary: #f0f0f0;
    --text-placeholder: #a1a1a1;
    --accent-color: #ffa500;
    --shadow-color: rgba(0, 0, 0, 0.4);
    --shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  }
}

body {
  font-family: var(--font-raleway);
  background: var(--bg-primary);

  color: var(--text-primary);

  /* Efeito de transição */
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

#App {
  padding: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Logo {
  max-width: 100%;
  overflow: hidden;

  & img {
    width: 70%;
    height: auto;
    display: block;
    margin: auto;
  }
}

.search {
  width: 70%;
  margin: 4rem 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 1.75rem;
  border-radius: 4rem;
  background: var(--bg-secondary);
  box-shadow: var(--shadow);

  -webkit-box-shadow: var(--shadow);

  transition: all 0.3s ease;

  & input {
    flex: 1;
    border: none;
    outline: none;
    padding-right: 1rem;
    color: var(--text-primary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    font-weight: 500;
    transition: all 0.3s ease;
  }

  & input::placeholder {
    color: var(--text-placeholder);
  }

  & img {
    width: 35px;
    height: 35px;
    cursor: pointer;
  }
}
